* {
  -webkit-tap-highlight-color: transparent;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.flex {

}

.flex__item {

}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 3px 0px rgba(0,0,0,.2);

  display: flex;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all .14s ease-out;

  user-select: none;
  cursor: default;

  color: #fff;
  /*background: #3d3d3d;*/
  background: #222325;
}

.header.show {
  visibility: visible;
  transform: none;
}

.header__total {
  width: 100%;
}

.header__winner {
  flex: none;
  width: 72px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}



.message {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #fff;
  background: #009688;
  padding: -0px 16px;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: all .14s ease-out;
}

.message.message--show {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.message::after {
  content: '✕';
}

.message:hover,
.message:active {
  background: #008577;
}




.appbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  /*height: 56px;*/
}

.menu__button {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  position: relative;
  z-index: 100;
  width: 56px;
  height: 56px;
  line-height: 56px;
  color: #fff;
  /*background: #000;*/
  text-align: center;
  user-select: none;
  cursor: pointer;

  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 8px;
  border-radius: 50%;
}

.menu__button:active {
  background: rgba(255,255,255,.04);
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 56px;
  background: #243441;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all .14s;
}

.toolbar.toolbar--show {
  opacity: 1;
  visibility: visible;
}

.toolbar__text {
  display: flex;
  align-items: center;
}

.toolbar__input {
  height: 32px;
  width: 80%;
  background: none;
  border: 0;
  border-bottom: 1px solid transparent;

  /*padding-bottom: 8px;*/
  outline: 0;

  font-size: 20px;
  color: #fff;
}

.toolbar__input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  /*display: inline-block;*/
  /*line-height: 1;*/
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons--inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons--inactive:active {
  background: none;
}

.background {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  /*height: 100vh;*/
  /*z-index: -1;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(assets/bg.jpg);
  /*background-size: cover;*/

  animation: zoom 24s linear forwards;
}

.background__logo {
  color: #fff;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  font-size: 32px;
  font-weight: bold;
  text-align: center;

  color: #fff;

  width: 100%;
  line-height: 100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Six Caps';
  font-weight: 100;
  font-size: 500px;

  color: #111;
  font-family: 'Jockey One';
  font-size: 400px;
  font-weight: 100;
}

.background__intro {
  /*display: none;*/
  /*z-index: 2;*/
  padding: 24px;
  font-family: serif;
  line-height: 1.4;
}

.background__text {
  font-size: 18px;
  text-align: center;
  color: #aaa;
  user-select: none;
}

.background__text--name {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}

.container {
  position: fixed;
  bottom: 72px;

  width: 100%;
  max-height: calc(100% - 128px);

  overflow-x: hidden;
  overflow-y: auto;
}

.scores {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-end;*/
}

/*.scores::-webkit-scrollbar {
  display: none;
}*/

.scores > :first-child {
  /*margin-top: auto;*/
  /*margin-top: 100%;*/
  /*margin-top: calc(100vh - 200px);*/
  /*margin-top: 100vh;*/
}

.round {
  flex: none;
  display: flex;
  justify-content: center;

  height: 72px;
  line-height: 72px;
  text-align: center;

  user-select: none;
  cursor: default;
  /*transform: translateX(100px);*/
  /*transform: translateX(-100px);*/

  color: #eee;
  background: #111112;
  background: #18191b;
  /*background: #141415;*/
  border-top: 1px solid #000;
  /*border-bottom: 1px solid #000;*/
  /*animation: append .14s linear forwards;*/
  touch-action: pan-y;
  /*-webkit-user-drag: none;*/
  will-change: transform;
}

.round:last-child {
  /*position: sticky;*/
  /*bottom: 0;*/
  /*border-top: 1px solid #000;*/
}

.round::before,
.round::after {
  content: '-1';
  display: block;
  position: relative;
  top: -1px;
  flex: none;
  width: 72px;
  height: 72px;
  color: #fff;
  font-size: 20px;
}

.round::before {
  background: #ff4646;
}

.round::after {
  background: #4169e1;
}

.round__score {
  /*flex: auto;*/
  /*width: 100%;*/
  flex: none;
  width: calc((100% - 72px) / 2);
  font-size: 20px;
}

.round__number {
  flex: none;
  width: 72px;
  font-size: 14px;
  color: #aaa;
  background: #000;
}



.navigation {
  position: fixed;
  bottom: 0;
  /*z-index: 1000;*/
  width: 100%;
  height: 72px;
  /*box-shadow: 0 -1px 2px 0px rgba(0,0,0,.14);*/
  overflow: hidden;
  transition: all .14s;
  /*border-top: 1px solid #000;*/

  display: flex;
  background: #000;

  visibility: visible;
  opacity: 1;
}

.navigation.navigation--hide {
  visibility: hidden;
  opacity: 0;
  /*animation: hide .5s ease-out forwards;*/
}

.button--nav {
  flex: 1;
}

.button--nav:not(:last-child) {
  /*border-right: 2px solid black;*/
  margin-right: 2px;
}

.controls {
  position: fixed;
  bottom: 0;
  /*z-index: 900;*/
  z-index: 10000;
  width: 100%;
  /*box-shadow: 0 -1px 2px 0px rgba(0,0,0,.14);*/
  overflow: hidden;
  transition: all .44s;
  border-top: 1px solid #000;

  /*border-top: 1px solid #3d3d3d;*/
  visibility: hidden;
  opacity: 0;
}


.controls.controls--show {
  visibility: visible;
  opacity: 1;

  /*animation: hide 5s linear;*/
}

.controls.controls--hide {
  /*animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;*/

  animation: hide 5s linear;
}

.controls:active {
  /*box-shadow: 0 -1px 0 0 #eee;*/
  /*box-shadow: none;*/
}

.before {
  position: absolute;
  top: 0;
  left: 0;
  /*background: #abc;*/
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}

.before::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background: #ff4646;
}

.before::after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -2;
  background: #4169e1;
}

.before--point {
  /*z-index: -10;*/
  opacity: 0;
  z-index: 10;
}

.before__button {
  flex: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 72px;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  /*padding: 0 10%;*/
  width: 72px;
  user-select: none;
}

.before__button--point {
  width: 50%;
  /*display: none;*/
}

.buttons {
  position: relative;
  z-index: 100;
  height: 72px;
  background: #222325;
  background: #000;

  display: flex;
  justify-content: space-between;
}

/*.buttons::before {
  content: 'KD';
  width: 72px;

  color: #fff;
  background: #ff4646;

  font-size: 22px;
  font-weight: bold;
  line-height: 74px;
  text-align: center;
}*/

.button {
  user-select: none;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  line-height: 72px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  background: #222325;
  z-index: 300;
  transition: transform .05s;
}

.button:active {
  /*background: #18191b;*/
  /*transform: scale(.95);*/
  transform: perspective(320px) rotateX(8deg);
  transform-origin: bottom;
}

.button.button--win {
  width: 100%;
  font-weight: bold;
  z-index: 50;
}

.button.button--draw {
  flex: none;
  width: 72px;
  z-index: 100;

  /*color: #fff;*/
  /*background: #000;*/

  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.button.button--wide {
  width: 100%;
  height: 72px;
  /*position: fixed;*/
  position: absolute;
  bottom: 0;
}

.button.button--small {
  width: 80%;
  /*position: fixed;*/
  /*bottom: 16px;*/
  /*left: 0;*/
  /*right: 0;*/
  margin: 0 auto;
  height: 56px;
  line-height: 58px;
  vertical-align: middle;
}

.red {
  color: #ff4646;
}

.blue {
  color: #4169e1;
}

.red--bg {
  color: #fff;
  background: #ff4646;
}

/*.red--bg:hover,*/
.red--bg:active {
  background: #ff3030;
}

.blue--bg {
  color: #fff;
  background: #4169e1;
}

/*.blue--bg:hover,*/
.blue--bg:active {
  background: #2251dd;
}

.debug {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #3d3d3d;
  /*overflow: hidden;*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  padding: -0px 16px;
  white-space: nowrap;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

  animation: shake .5s linear;
}

.swipe {
  animation: swipe .5s linear;
}

@keyframes _shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}

@keyframes hide {
  0% {
    /*opacity: 0;*/
    transform: scale(1) translateY(5%);
    transform: perspective(320px) rotateX(8deg);
  }

  10% {
    opacity: 1;
    transform: perspective(320px) scale(.98);
    /*transform: scale(.94) translateY(10%);*/
  }

  50%, 100% {
    opacity: 0;
    /*transform: translateY(100%);*/
    transform: translateY(100%) perspective(320px) scale(.9);
    /*height: 72px;*/
  }
}

@keyframes append {
  0% {
    /*opacity: 0;*/
    /*transform: translateY(50%);*/
    height: 0px;
  }

  100% {
    /*opacity: 1;*/
    /*transform: translateY(0);*/
    height: 72px;
  }
}

@keyframes swipe {
  0% {
    /*opacity: 1;*/
    transform: translateX(0);
  }

  100% {
    /*opacity: 0;*/
    transform: translateX(100%);
  }
}

@keyframes zoom {
  0% {
    background-size: auto 150%;
  }

  100% {
    background-size: auto 100%;
  }
}

@media (min-width: 600px) {
  .App {
    position: relative;
    width: 360px;
    height: 640px;
    /*margin-top: 184px;*/
    margin: 200px auto;
    /*overflow: hidden;*/
    background: transparent;
  }

  .App::before {
    content: '';
    position: absolute;
    top: -84px;
    left: -18px;
    width: 396px;
    height: 810px;
    background-image: url(assets/google-nexus.png);
    background-size: cover;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .appbar,
  .toolbar,
  .header,
  .message,
  .container,
  .controls,
  .navigation {
    position: absolute;
  }
}

@media (max-width: 1200px) {
  .App {
    height: 100vh;
    margin: 0 auto;
  }

  .App::before {
    display: none;
  }
}
